<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>消费记录添加--后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <style type="text/css">
        .layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
        @media(max-width:1240px){
            .layui-form-item .layui-inline{ width:100%; float:none; }
        }
        .layui-form-item .role-box {
            position: relative;
        }
        .layui-form-item .role-box .jq-role-inline {
            height: 100%;
            overflow: auto;
        }

    </style>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;margin-top: 2%;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">消费名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="billName" lay-verify="required" placeholder="请输入物品名称">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">消费金额</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="billNum" placeholder="请输入消费金额">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">消费日期</label>
            <div class="layui-input-block">
                <!--<input type="text" class="layui-input" name="billDay" placeholder="请输入消费日期">-->
                <input type="text" class="layui-input" id="billDay" name="billDay" placeholder="请选择消费日期" autocomplete="off">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">消费地点</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="address"  placeholder="请输入消费地点">
            </div>
        </div>


    </div>

    <div class="layui-form-item">

        <div class="layui-inline">
            <div class="layui-form-item">
                <label class="layui-form-label">消费类型</label>
                <div class="layui-input-block">
                    <select name="billType" lay-filter="billType" id="billType" lay-search="" lay-verify="select">
                        <option th:value="加油">加油</option>
                        <option th:value="购物">购物</option>
                        <option th:value="过路费">过路费</option>
                        <option th:value="停车费">停车费</option>
                        <option th:value="其他">其他</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">支付方式</label>
            <div class="layui-input-block">
                <select name="payChannel" lay-filter="payChannel" id="payChannel" lay-search="" lay-verify="select">
                    <option th:value="微信">微信</option>
                    <option th:value="支付宝">支付宝</option>
                    <option th:value="现金">现金</option>
                </select>
            </div>
        </div>

    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="remark" th:width="350px" placeholder="请输入备注信息...">
            </div>
        </div>
    </div>
    <shiro:hasPermission name="sys:carbill:add">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="addCarbill">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    </shiro:hasPermission>
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/carbill/carbillAdd.js}"></script>
</body>
</html>