<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<meta charset="utf-8">
<title>加油记录列表--后台管理</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel = "shortcut icon" href="${site.logo}">
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
<link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend>加油记录检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">

            <div class="layui-inline" style="width: 15%">
                <input type="text" value="" name="s_key" placeholder="可以输入名称\地点\加油时间" class="layui-input search_input">
            </div>
            <div class="layui-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm"><i class="layui-icon">&#xe615;</i>查询</a>
            </div>

            <div class="layui-inline" style="float:right">
                <label class="layui-form-label">加油总额 :</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="billTotal" readonly="readonly" style="background-color:transparent;border:0;color: #F21313;font-size: larger" th:value="12000">
                </div>
            </div>

        </form>
    </div>
</fieldset>
<div class="layui-form users_list">
    <table class="layui-table" id="oilbillTable" lay-filter="oilbillList"></table>

</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/jQuery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/carbill/oilbillList.js}"></script>
</body>
</html>