<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>卡信息修改--后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <style type="text/css">
        .layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
        @media(max-width:1240px){
            .layui-form-item .layui-inline{ width:100%; float:none; }
        }
        .layui-form-item .role-box {
            position: relative;
        }
        .layui-form-item .role-box .jq-role-inline {
            height: 100%;
            overflow: auto;
        }

    </style>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;margin-top: 2em">
    <input class="layui-hide" name="id" th:value="${localcard.id}"/>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">持卡人</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="cardOwner" lay-verify="required" placeholder="请输入持卡人姓名" th:value="${localcard.cardOwner}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">银行名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="bankName" placeholder="请输入银行名称" th:value="${localcard.bankName}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">银行卡号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="cardNum" lay-verify="required" placeholder="请输入银行卡号" th:value="${localcard.cardNum}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">额度</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="cardQuota" placeholder="请输入卡额度" th:value="${localcard.cardQuota}">
            </div>
        </div>

    </div>

    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">账单日期</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="billDate"  placeholder="请输入账单日期" th:value="${localcard.billDate}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">还款日期</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="payDate"  placeholder="请输入还款日期" th:value="${localcard.payDate}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">排序序号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="sort" placeholder="请输入排序序号" th:value="${localcard.sort}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">有效日期</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="validity" placeholder="请输入有效日期" th:value="${localcard.validity}">
            </div>
        </div>

    </div>

    <div class="layui-form-item">


        <div class="layui-inline">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="remark" placeholder="请输入备注信息..." th:value="${localcard.remark}">
            </div>
        </div>

    </div>

    <shiro:hasPermission name="sys:card:edit">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="editCard">我要修改</button>
            <button class="layui-btn layui-btn-primary" id="quitModify">我不改了</button>
        </div>
    </div>
    </shiro:hasPermission>
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/creditcard/cardEdit.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/jQuery-2.1.4.min.js}"></script>
<script>
    var index = parent.layer.getFrameIndex(window.name); //当前窗口索引
    $(document).ready(function() {
        $("#quitModify").click(function() {
            parent.layer.close(index);
        });
    });


</script>

</body>
</html>