<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>我的博客首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/front/css/index.css}"/>
    <style>
        .arcimg {
            width: 150px;
            height: 150px;
            float: left;
            overflow: hidden;
        }
        .srcheadimg {
            width: 35px;
            height: 35px;
        }
    </style>
</head>
<body>
<!-- 技术日记 -->
<div class="container div_divider">
    <!-- 分割线 -->
    <hr class="hr_1">
    <span style="font-size: large">欢迎来到库里小朋友的博客世界</span>
    <hr class="hr_2">
    <div class="row">
        <!-- 文章列表 -->
        <div class="col-xs-9">
            <div class="list-group div_article">
                <!-- 子头栏 -->
                <a href="#" class="list-group-item active acitem_article_first">
                    <h4 class="list-group-item-heading ">
                        My Life, Like Sun!
                    </h4>
                </a>
                <!-- 文章列表 -->
                <div class="list-group-item item_article" th:each="blog:${blogList}">
                    <div class="row">
                        <div class="div_center col-xs-9">
                            <div class="list-group-item-heading div_article_title">
                                <strong>
                                    <a th:href="${'/web/article/'+blog.id+'.html'}" >
                                        <span th:text="${blog.title}" ></span></a>
                                </strong>
                            </div>
                            <p class="list-group-item-text div_article_content">
                                    <span th:text="${blog.summary}"></span>
                            </p>
                        </div>
                        <!-- 右侧图片，信息 -->
                        <div class="col-xs-3 div_right_info">
                            <img class="iv_article img-rounded arcimg" src="/static/front/images/ava.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右侧 -->
        <div class="col-xs-3 div_record">
            <!-- 用户信息 -->
            <div class="jumbotron " style="background: #FFCC66">
                <img class="img-circle srcheadimg" src="/static/front/images/ava.png">
                <div style="display: inline-block; margin-left: 12px;font-size: 18px;">库里小朋友</div>
            </div>
            <!-- 随手记录 -->
            <div style="display: flex;">
                <div style="flex: 1">
                    <hr>
                </div>
                <div style="text-align: center;line-height: 48px;color: #34374C">记录美好的心情</div>
                <div style="flex: 1">
                    <hr>
                </div>
            </div>

            <form class="form-horizontal">
                <div class="form-group">
                    <label  class="col-sm-4 control-label">博客类别</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="category">
                            <option th:value="全部">全部</option>
                            <option th:value="IT技术">IT技术</option>
                            <option th:value="个人日记">个人日记</option>
                        </select>
                    </div>
                </div>
            </form>

            <div class="div_save">
                <button type="button" class="btn btn-primary btn_save_record" id="queryBlog">查询</button>
            </div>
            <hr>

        </div>
    </div>
</div>
</div>

<script th:src="@{/static/front/js/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
<script>

    $(document).ready(function() {



        $("#queryBlog").click(function(){
            var category = $("#category").val();
            $(this).css("background-color", "#f47c20");
            $(this).css("border-color", "#f47c20");
            window.location.href="/web/index?category="+category;

        });


    });


</script>
</body>
</html>