<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.admin.mapper.DriverRouteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaoshu.admin.entity.DriverRoute">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="driver_id" property="driverId" />
        <result column="driver_name" property="driverName" />
        <result column="driver_phone" property="driverPhone" />
        <result column="route" property="route" />
        <result column="route_name" property="routeName" />
        <result column="start_address" property="startAddress" />
        <result column="end_address" property="endAddress" />
        <result column="order_date" property="orderDate" />
        <result column="take_num" property="takeNum" />
        <result column="order_time" property="orderTime" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, driver_id, driver_name, driver_phone, route, route_name, start_address, end_address, order_date, take_num, order_time, remark, status, create_time, update_time
    </sql>

</mapper>
