<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>车主记录添加--后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <style type="text/css">
        .layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
        @media(max-width:1240px){
            .layui-form-item .layui-inline{ width:100%; float:none; }
        }
        .layui-form-item .role-box {
            position: relative;
        }
        .layui-form-item .role-box .jq-role-inline {
            height: 100%;
            overflow: auto;
        }

    </style>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;margin-top: 2%;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">车主昵称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="driverName" lay-verify="required" placeholder="请输入车主昵称">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">车主电话</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="driverPhone" placeholder="请输入联系电话">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">车辆类型</label>
            <div class="layui-input-block">
                <select name="carType" lay-filter="carType" id="carType" lay-search="" lay-verify="select">
                    <option th:value="SUV">SUV</option>
                    <option th:value="轿车">轿车</option>
                    <option th:value="其他">其他</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">车牌号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="carNum"  placeholder="请输入车牌号">
            </div>
        </div>


    </div>

    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">车身颜色</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="carColor" lay-verify="required" placeholder="请输入车身颜色">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户账号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="userName" placeholder="请输入用户账号">
            </div>
        </div>

    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="remark" th:width="350px" placeholder="请输入备注信息...">
            </div>
        </div>
    </div>
    <shiro:hasPermission name="sys:driver:add">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="addDriver">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </shiro:hasPermission>
</form>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/driver/driverAdd.js}"></script>
</body>
</html>